<div class="contenedorMapa">
    <div class="formularioDestino">
        <h3 class="titulo">Selecciona tu Destino:</h3>
        <form [formGroup]="formMapa" (submit)="submit()" class="formulario">
            <div class="fila">
                Destino:
                &nbsp;&nbsp;
                <input type="text" formControlName="lugar_llegada">
            </div>
            <div class="fila">
                Fecha del viaje:
                &nbsp;&nbsp;
                <input type="date" formControlName="fecha">
            </div>
            <div class="fila">
                Horario de salida:
                &nbsp;&nbsp;
                <input type="time" formControlName="hora_salida">
            </div>
            <div class="fila">
                Horario de llegada:
                &nbsp;&nbsp;
                <input type="time" formControlName="hora_llegada">
            </div>
            <div class="fila">
                <button type="submit" [disabled]="!formMapa.valid" class="boton"></button>
            </div>
            <div id="mensaje"></div>
        </form>
    </div>
    <div class="capaMapa">
            <div class="map-frame">
                <div id="map"></div>
            </div>
    </div>
</div>