<div class="contenedorMapa">
    <div class="formularioDestino">
        Esto es el formulario
        <!--<h3 class="titulo">Selecciona tu Destino:</h3>
        <form [formGroup]="formMapa" (submit)="submit()">
            <div class="fila">
                Destino:
                &nbsp;&nbsp;
                <input type="text" formControlName="destino">
            </div>
            <div class="fila">
                Fecha del viaje:
                &nbsp;&nbsp;
                <input type="date" formControlName="fecha">
            </div>
            <div class="fila">
                Horario de llegada:
                &nbsp;&nbsp;
                <input type="time" formControlName="hora">
            </div>
            <div class="fila botonB">
                <button type="submit" [disabled]="!formMapa.valid" class="boton"></button>
            </div>
            <div id="mensaje"></div>
        </form>-->
    </div>
    <div class="capaMapa">
            <div class="map-frame">
                <div id="map"></div>
            </div>
    </div>
</div>