.contenidoLista{
    display: flex;
    justify-content: center;
    background-color: #990000;
    border-top: 1px solid #d24545;
    border-bottom: 1px solid #d24545;
}

.lista{
    display: flex;
    flex-direction: row;

}

.logo{
    border-radius: 200px;
    background-color: #5ab998;
    width: 50px;
    display: flex;
    justify-content: center;
}

.liclass{
    padding-left: 5px;
    padding-right: 20px;
}

.enlace{
    color: white;
}

.bloqueo{
    width: 35px;
}