<nav class="navbar navbar-expand-sm contenidoLista">
    <ul class="navbar-nav lista">
      <li class="nav-item liclass">
        <a class="nav-link logo enlace" routerLink="home"><img src="../../../assets/imagenes/logo.png"></a>
      </li>
      <li class="nav-item liclass">
        <a class="nav-link enlace" routerLink="login">Iniciar Sesión</a>
      </li>
      <li class="nav-item liclass">
        <a class="nav-link enlace" routerLink="registrar">Registrarse</a>
      </li>
    </ul>
</nav>
