<nav class="navbar navbar-expand-sm contenidoLista">
  <ng-template #inicio>
    <ul class="navbar-nav lista">
      <li class="nav-item liclass">
        <a class="nav-link logo enlace" routerLink="home"><img src="../../../assets/imagenes/logo.png"></a>
      </li>
      <li class="nav-item liclass">
        <a class="nav-link enlace" routerLink="login">Iniciar Sesión</a>
      </li>
      <li class="nav-item liclass">
        <a class="nav-link enlace" routerLink="registrar">Registrarse</a>
      </li>
    </ul>
  </ng-template>


  <ng-container *ngIf="servicioSeg.logIn(); else inicio;">
    <ul class="navbar-nav lista">
      <li class="nav-item liclass">
        <a class="nav-link logo enlace" routerLink="home" (click)="servicioSeg.logOut()"><img src="../../../assets/imagenes/iconoBloqueo.png" class="bloqueo"></a>
      </li>
      <li class="nav-item liclass">
        <a class="nav-link enlace" routerLink="mapa">Mapa</a>
      </li>
      <li class="nav-item liclass">
        <a class="nav-link enlace" routerLink="viajes">Viajes</a>
      </li>
      <li class="nav-item liclass">
        <a class="nav-link enlace" routerLink="mensajes">Mensajes</a>
      </li>
      <li class="nav-item liclass">
        <a class="nav-link enlace" routerLink="miPerfil">Mi Perfil</a>
      </li>
    </ul>
  </ng-container>
</nav>